.icons {
  margin: 20px 0;
  text-align: center;
}

.project-container {
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

@media (max-width: 1000px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}
